
:root{
    --green:#609966;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0.5rem 1rem rgba(0,0,0,1);
    --border:.2rem solid rgba(0,0,0,0.1);
    --outline:.1rem solid rgba(0,0,0,0.1);
    --outline-hover:.2rem solid varvar(--black);

}

*{
    margin: 0;
    padding: 0;
 font-family: 'Montserrat', sans-serif;
 box-sizing: border-box;
 text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #eee;
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 300;
    color: black;
}
.heading span{
    background: #609966;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
section{
    padding: 2rem 9%;
}
.head{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .2rem solid black;
  color: black;
  cursor: pointer;
  background: none;
}
.btn:hover{
  background: #609966;
  color: #fff;
}
 .logo a i{
    color:#609966;    font-size: 1.7rem;

}
.head  .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:black;
}
.head .navbar a:hover{
    color:#609966;
}
.icons{
    display: flex;
}
.head .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: #eee;
    color: black;
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}
.head .icons div:hover{
    background: #609966;
    color: #fff;
}
#menu-btn{
    display: none;
}
.head .search-form{
    position: absolute;
    top: 110%; right:-110%;
    width: 50rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.head .search-form.active{
    right: 2rem;
    transition: all.4s linear;
}
.head .search-form input{
    height:100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: black;
    padding:0 1rem;
    outline: 0;
    border: 0;
}
.head .search-form{
    font-size: 2.2rem;
    padding-right:1.5rem ;
    color: black;
    cursor: pointer;
}
.head .search-form label:hover{
    color: #609966;
}
.head .shopping-cart{
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
border-radius: .5rem;
box-shadow: 0 0 3px black;
width: 30rem;
background: #fff;
}
.head .shopping-cart.active{
    right: 2rem;
    transition: .4s all linear;
}

.head .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;;

}
.head .shopping-cart .box img{
    height: 10rem;
    width: 9rem;
}
.head .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}
.head .shopping-cart .box .fa-trash:hover{
    color: #609966;
}
.head .shopping-cart .box .content h3{
  color: black;
  font-size: 1.7rem;
  padding-bottom:1rem ;
  flex-direction: column;
}
.head .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
    /* padding-bottom:1rem ;
    flex-direction: column; */
  }
  .head .shopping-cart .box .content .quantity{
    padding-left: 1rem;
  }
  .head .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
    color: var(--light-color);
  }
  .head .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: .2rem;
}
.head .login-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: 0 0 2x black;
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}
.head .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: black;
}
.head .login-form .box{
    margin: .4rem 0;
    background: #eee;
    border-radius: .5rem;
    padding:.5rem;
    font-size: 1.5rem;
    color: black;

}
.head .login-form p{
    font-size: 1.4rem;
    padding: .4rem 0;
    color: var(--light-color);
}

.head .login-form p a{
    color: #609966;
    text-decoration: underline;
}

.head .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

/* media query */
@media (max-widht:991px) {
    html{
        font-size: 55%;
    }
    .head{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    
}
@media  (max-widht:768px){
    
#menu-btn{
    display: inline-block;
}
    .head .navbar{
    position: absolute;
top: 110%; right: -110%;
width: 30rem;
box-shadow: var(--box-shadow);
border-radius: .5rem;
background: #fff;


}

.features .box-container{
    display: flex;
}
.features .box-container .box{
    flex-direction: column;
}
.head .navbar.active{
    right: .2rem;
    transition: .4s linear;
}
.head .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
}
}
@media  (max-widht:450px) {
    html{
        font-size: 50%;
    }
    
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
background: url(banner_img.jpg);
    background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding-top: 20rem;
padding-bottom: 17rem;
}
.home .content{
    text-align: center;
    width: 60rem;
}
.home .content h3{
    color: black;
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
}
.home .content h3 span{
    color: #609966;
}
.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;

    padding: 1rem 0;
}
.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}
.features .box-container .box{
    text-align: center;
    padding: 3rem 2rem;
background: #fff;
outline:1px solid black;
outline-offset: -1rem;
box-shadow: 0  0 1px grey;
}
.features .box-container .box:hover{
    outline:.2rem solid black;

    outline-offset: 0rem;

}
.features .box-container .box img{
    margin: 1rem 0;

}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;

color: black;}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;

color: var(--light-color);
padding: 1rem 0;}
.products .product-slider{
    padding: 1rem;
    
}

.products .product-slider:first-child{
margin-bottom: 2rem;
}
.products .product-slider .box{
    background: #fff;
    border-radius:.5rem ;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: 1px solid black;
    box-shadow: 0 0 1px gray;
    transition: .2s linear;

}
.products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: 1px solid black;

}
.products .product-slider .box img{
    height: 20rem;

}

.products .product-slider .box h3{
    font-size: 2.5rem;
    color: black;
}

.products .product-slider .box .price{
    font-size: 2rem;
    color: black;
    padding: .5rem 0;
    
}

.products .product-slider .box .stars i{
font-size: 1.7rem;
color: #609966;
padding: .5rem 0;
}

.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 4rem 2rem;
    /* padding-bottom: 5rem; */
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 0 1px gray;
        outline: 1px solid black;
            outline-offset: -1rem;
            text-align: center;


}
.categories .box-container .box img{
    height: 20rem;
    width: 20rem;
}
.categories .box-container .box:hover{
    outline-offset: 0rem;
    outline: 1px solid black;

}
.categories .box-container .box h3{
    font-size: 2rem;
    color:black;
    font-weight: 300;
    line-height: 1.2rem;
}
.categories .box-container .box p{
    font-size: 1.5rem;
    color:var(--light-color);
    font-weight: 300;
    padding: 1.2rem;
}



.reviews .review-slider{
    padding: 1rem;

}
.reviews .review-slider .box{
background: #fff;
border-radius: .5rem;
text-align: center;
padding: 3rem 2rem;
outline-offset: -1rem;
outline: black;
box-shadow: 0 0 1px grey;
transition: .2s linear;
}

.reviews .review-slider .box:hover{
    outline: 1px solid black;
    outline-offset: 0rem;

}
.reviews .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;

}

.reviews .review-slider .box p{
padding: 1rem 0;
line-height: 1.7;
color: var(--light-color);
font-size: 1.5rem;
}

.reviews .review-slider .box h3{
    padding-bottom:.5rem 0 ;
    color: black;
    font-size: 2rem;
}

.reviews .review-slider .box .stars i{
color: #609966;
font-size: 1.5rem
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap: 1.5rem;
}
.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
box-shadow: 0  0 1px grey;
background: #fff;

}
.blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    margin-bottom:1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{

    color: var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color: #609966;
}
.blogs .box-container .box .content .icons a i{
    color: #609966;
padding-right: .5rem;}


.blogs .box-container .box .content h3{
    line-height: 1.8rem;
    color: black;
    font-weight: 200;
    font-size: 2.2rem;
    padding: .5rem 0;
}

.blogs .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.6rem;
}
.footer{
    background: #fff;
}
.footer .box-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem,1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    font-weight: 200;
    color: black;
    padding: 1rem 0;

}

.footer .box-container h3 i{
    color:#609966;
}

.footer .box-container .box a{
display: block;
font-size: 1.5rem;
color: var(--light-color);
padding: 1rem 0;

}


.footer .box-container .box p{
line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    
    }
    
.footer .box-container .box .links i {color: #609966;
    padding-right: .5rem;
    
    }
    .footer .box-container .box .share .links{
        height: 4rem;
        line-height: 4rem;
        width: 4rem;
        border-radius: .5rem;
        font-size: 2rem;
        color: #000;
        margin-left: .2rem;
        background: #eee;
        text-align: center;
    }
    
    .footer .box-container .box .share .links:hover{
        background: #609966;
        color: #fff;
    }

    .footer .box-container .box .email{
        width: 100%;
        margin: .7rem 0;
        padding: 1rem;
        border-radius: .5rem;
        background: #eee;
        font-size: 1.6rem;
        color: black;
        text-transform: none;
    } 
.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:  1rem;
    font-size: 2rem;
color: #000;
}
.credit span{
    color: #609966;
}